body {
    max-width: 1440px;
    font-family: "Mulish", sans-serif;
}

/* common styles */
.text-primary {
    font-size: 16px;
    font-weight: 400;
}

.title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn-primary {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    transition: transform 1s 1s, background-color 3s;
}

.btn-primary:hover {
    transform: scale(1.10) translate(12px);
    background-color: rgb(255, 0, 0);
}

/* header's styles */
header {
    max-width: 1170px;
    margin: 0 auto;
}

/* ***nav's styles*** */
.nav-title {
    display: flex;
    gap: 16px;
}

.web-name {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.web-sub-name {
    color: #FF5400;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    gap: 44px;
    list-style: none;
}

nav ul li a {
    color: black;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
    color: #FF5400;
}

nav .menu-btn {
    cursor: pointer;
    display: none;
}

#click {
    display: none;
}

/* banner's style */
.banner {
    margin-top: 60px;
    width: 100%;
    height: 100vh;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    align-items: center;
}

.banner-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.banner-form {
    width: 80%;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 30px;
    padding: 16px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .button {
    cursor: pointer;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    border: none;
    background: #FFF;
    padding: 0 10px;
}

.dropdown .button img {
    width: 25%;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown .dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: #333;
}

.dropdown .dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.input {
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    background: #FFF;
    padding: 10px;
}

.search {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
}

/* popular tours styles */
.popular-tours-container {
    max-width: 1170px;
    margin: 120px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.place {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.popular-tours-image img {
    width: 100%;
}

.popular-tours-content ul {
    margin: 24px 0 24px 0;
}

/* destination's styles */
.destination {
    max-width: 1170px;
    margin: 0 auto;
}

.img-1 img,
.img-2 img,
.img-3 img,
.img-4 img,
.img-5 img,
.img-6 img,
.img-7 img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(165, 159, 159);
}

.img-1 {
    position: relative;
    grid-area: img-1;
}

.img-2 {
    position: relative;
    grid-area: img-2;
}

.img-3 {
    position: relative;
    grid-area: img-3;
}

.img-4 {
    position: relative;
    grid-area: img-4;
}

.img-5 {
    position: relative;
    grid-area: img-5;
}

.img-6 {
    position: relative;
    grid-area: img-6;
}

.img-7 {
    position: relative;
    grid-area: img-7;
}

.text-center {
    position: absolute;
    ;
    top: 25%;
    left: 30%;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    z-index: 1;

}

.image-container {
    width: 100%;
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        "img-1 img-1 img-4 img-4"
        "img-2 img-3 img-3 img-5"
        "img-6 img-6 img-7 img-7"
    ;

}

/* choose section's styles */
.choose {
    max-width: 1170px;
    margin: 120px auto;
}

.reason-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    ;
}

.reason-1 {
    padding: 10px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.reason-2 {
    padding: 10px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.reason-3 {
    width: 50%;
    margin: 24px auto 0 auto;
    padding: 10px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.reasons {
    width: 100%;
    margin-top: 50px;
    display: grid;
    gap: 25px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

/* consumer-and-review's styles */
.consumer-and-review {
    max-width: 1170px;
    margin: 120px auto;
}

.our-consumers {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);

}

.consumers-img {
    margin-top: 50px;
    border: 1px solid gainsboro;
    border-radius: 20px;
    padding: 10px;
    transition: all 1.5s ease;
}

.consumers-img:hover {
    transform: scale(.90);
    color: #FF5400;
    box-shadow: 10px 10px 10px gainsboro;
}

.consumers-img img {
    width: 100%;
    border-radius: 20px;
}


/* news-letter's styles */
.news-letter-container {
    max-width: 1170px;
    margin: 120px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.news-letter-content {
    width: 100%;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.news-letter-content form {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.news-letter-content form input {
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.btn-subscribe {
    padding: 5px;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.offer {
    position: relative;
    top: -202px;
    right: -340px;
    width: 49%;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 16px;
    background: #FF5400;
}

.offer-title {

    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

.sub-title {
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
}

.image img {
    margin-top: 100px;
}

/* footer's styles */
footer {
    margin-top: 120px;
    background: rgba(19, 19, 24, 0.05);
    background-position: center;
    background-size: cover;
    padding: 50px 25px;
}

.dream-footer {
    max-width: 1170px;

}

.footer-title {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-media {
    display: flex;
    gap: 16px;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.copyright {
    color: #131318;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

/* responsive site */
@media screen and (max-width:576px) {

    /* nav */
    nav ul {
        position: fixed;
        top: 100px;
        left: -150%;
        width: 100%;
        height: 100vh;
        display: block;
        background-color: #fff;
        text-align: center;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0%;
    }

    nav ul li {
        margin: 30px 0;
    }

    nav .menu-btn {
        display: block;
    }

    /* banner  */
    .banner-form {
        flex-direction: column;
    }

    .banner-form {
        margin: 0 auto;
    }
    /* popular-tours */
    .popular-tours-container {
        flex-direction: column;
        gap: 20px;
    }

    /* Destination */
    .image-container {
        grid-template-areas:
            "img-1"
            "img-4"
            "img-2"
            "img-3"
            "img-5"
            "img-6"
            "img-7";
    }

    /* choose */
    .reasons {
        grid-template-columns: repeat(1, 1fr);
    }

    .reason-3 {
        width: auto;
        margin: 24px auto;
    }

    /* newsletter */
    .news-letter-container {
        flex-direction: column;
        margin-bottom: 0;
    }

    .image img {
        margin-top: 20px;
        width: 100%;
        height: auto;
    }

    .offer {
        top: -140px;
        right: -175px;
    }

    .offer-title {
        padding: 0;
        font-size: 10px;
    }

    .sub-title {
        font-size: 24px;
    }

    .news-letter-content {
        height: auto;
        padding: 5px;
    }

    /* consumer-and-review*/
    .our-consumers {
        grid-template-columns: repeat(1, 1fr);
    }

}